<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-cuenta">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2> Datos de usuario </h2>
    <!--<input type="text" value="{{first_name::input}}"/> -->
    <h3> Cuenta: {{iban}} </h3>
    <h3> Saldo: {{balance}} </h3>
    <iron-ajax
      auto=""
      id="getAccount"
      url="http://localhost:3000/apitechu/v2/users/{{id}}/account"
      handle-as="json"
      on-response="showData">


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuenta extends Polymer.Element {
      static get is() { return 'visor-cuenta'; } //indica el tag que va a identificar el componente
      static get properties() {
        return {
          id: {
            type: Number
          },
          iban: {
            type: Number
          }, balance: {
            type: Number
          }

        };
      }
      showData(data) {
        console.log("showData");
        console.log(data.detail.response);
        this.iban = data.detail.response[0].iban;
        this.balance = data.detail.response[0].balance;
      }

    }


    window.customElements.define(VisorCuenta.is, VisorCuenta);
  </script>
</dom-module>
