<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2> Datos de usuario </h2>
    <!--<input type="text" value="{{first_name::input}}"/> -->
    <input type="email" placeholder="Email" value="{{email::input}}"/>
    <input type="password" placeholder="Password" value="{{password::input}}"/>
    <button on-click="login">Login</button>
    <iron-ajax
      id="doLogin"
      method="POST"
      url="http://localhost:3000/apitechu/v2/login""
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError">


  </template>


  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; } //indica el tag que va a identificar el componente
      static get properties() {
        return {
          id: {
            type: Number
          },
          first_name: {
            type: String
          }, last_name: {
            type: String
          }, email : {
            type: String
          },password: {
            type: String
          }
        };
      }

      login(){
        console.log("Boton login pulsado");
        // tenemos que enlazar los valores de los inputs de texto
        var loginData = {
          "email": this.email,
          "password": this.password
        };
        // para acceder al DOM interno del componente Polymer (shadowDOM)
        this.$.doLogin.body = JSON.stringify(loginData);
        // y mandarlo explicitamente
        this.$.doLogin.generateRequest();
        console.log("Petición enviada");
      }

      manageAJAXResponse(data){
        console.log("Respuesta recibida");
        console.log(data.detail.response);
        console.log(data.detail.response.logged);
      }
      showError(error){
        console.log("Hubo un error");
        console.log(error);
      }
    }


    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
